# Git
.git
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# App Specific
*.db
session_state.json
logs/
exports/

# Docker
Dockerfile
.dockerignore
